include ../_layout/setup/path
include ../_data/creativeworks

mixin creativework(w, i)
  article(itemscope itemtype="http://schema.org/WebSite" data-rel="lightcase:myCollection:creativeworks" data-href=`#creativework-${i}`)
    img.thumb(src=path.images + "portfolio/" + w.thumb)
    .modal(id=`creativework-${i}`)
      .console.module-fade
        pre: code(class=`language-javascript`)
          ="{\n"
          for index, i in Object.keys(w.data)
            -let comma = (i < (Object.keys(w.data).length-1)) ? "," : "";
            =`\t${index}: "${w.data[index]}"${comma}\n`
          ="}"
      img.screenshot(src=path.images + "portfolio/" + w.screenshot)

section.portfolio
  for work, index in creativeworks
    +creativework(work, index)
